App/.idea/workspace.xml
Updater/.idea/workspace.xml
App/nbproject/private/
Updater/nbproject/private/
JCalendar_GO/nbproject/private/
App/build/
Updater/build/
*.class
*.jar
/JCalendar_GO/build/
/Updater/dist/
/App/dist/
App/store/
